<html>
    <body>
        <div>{{name1}}<br>
            <br>
            <button (click)="pattern1()">View Pattern </button>
            <div></div>
        </div>
     <br>
        <div>{{name2}}<br>
            <br>
            <button (click)="pattern2()"> View Pattern </button>
            <div></div>
        </div>


        <br>
        <div>{{name3}}<br>
            <br>
            <button (click)="pattern3()">View Pattern </button>
            <div></div>
        </div>
        <br>
        <div> {{name4}}<br>
            <br>
            <button (click)="pattern4()">Pattern Numbers</button>
            <div></div>
        </div>


        <br>
        <div> {{name5}}<br>
            <br>
            <button (click)="alphabetpattern()">Alphabet Pattern</button>
            <div></div>
        </div>

    </body>
</html>